/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 versions,not dead,not ie <= 11
*/

/* Variables */

:root {
    --basic-grey: #EEEEEE;
    --basic-blue: #81B3D2;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-brown: #766357;
    --basic-greydark: #333333;
    --basic-greylight: #E5E5E5;

    --dark-blue: #669EC0;
    --dark-brown: #604E43;
    --dark-grey: #EBEBEB;

    --special-grey: #F2F2F2;
    --special-greydark: #b0b0b0;
    --special-brown: #503E33;
    --special-blue: #5496BD;

    --grey-shadow: rgba(0, 0, 0, 0.25);
    --body-shadow: rgba(0, 0, 0, 0.15);
    --search-shadow: rgba(0, 1, 1, 0.15);

    --btn-grey: rgba(255, 255, 255, 0.3);
    --transparent-footer: rgba(255, 255, 255, 0.9);
    --toggle-color: #ABABAB;
    --toggle-shadow: #cfcfcf;
    --rating-color: #666666;
    --copywrite-color: #BDBBBC;
  }

/* Global */  

body {
    position: relative;
    width: 1200px;
    box-shadow: 0px 4px 20px var(--body-shadow);
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--basic-grey);
}

img {
    max-width: 100%;
    height: auto;
    border: none;
  }

a {
    text-decoration: none;
    color: var(--basic-black);
  }  

*, *::before, *::after {
    box-sizing: border-box;
  }

/* Common */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.wrap {
    background-color: var(--basic-white);
}

/* Header */ 

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    height: 55px;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
}

    .main-menu li {
        cursor: pointer;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        color: var(--basic-blue);
    }

    .main-menu a:active {
        color: var(--basic-black);
        opacity: 0.3;
    }

    .main-menu li {
        display: block;
        width: 240px;
        list-style: none;
        text-align: center;
        font-weight: bold;
        line-height: 27px;
    }

.photo-menu {
    margin-right: 278px;
}

.current-menu {
    color: var(--basic-brown);
}

/* Main */

.main-img {
    position: relative;
    height: 509px;
    background: url("../img/shape.png") no-repeat bottom, url("../img/sedona.jpg") no-repeat var(--basic-blue);
    margin-bottom: 43px;
}

.welcome-img {
    position: absolute;
    top: 77px;
    left: 371px;
}

.slogan {
    width: 100%;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 45px;
    padding: 0 20px;
}

.reasons-text {
    color: var(--basic-greydark);
    width: 100%;
    text-align: center;
    margin-bottom: 54px;
    padding: 0 20px;
}

.grid-reasons {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    /* grid-template-rows: 256px 330px 256px 256px; */
    /* grid-auto-rows: minmax(min-c, max-content); */
    grid-auto-rows: minmax(256px, max-content) minmax(330px, max-content) minmax(256px, max-content) minmax(256px, max-content);
    margin-bottom: 65px;
}

    .grid-block-1-8 {
        text-align: center;
        background-color: var(--basic-blue);
        color: var(--basic-white);
        padding: 27px 10px 10px;
        height: 256px;
    }

    .grid-img1 {
        grid-column-start: 2;
        grid-column-end: 4;
        box-shadow: 0px 4px 4px var(--grey-shadow);
        height: 256px;
    }

    .grid-row2 {
        padding: 140px 10px 10px;
        color: var(--basic-greydark);
        text-align: center;
        min-height: 330px;
    }

    .grid-row4 {
        color: var(--basic-greydark);
        text-align: center;
        background-color: var(--basic-grey);
        padding: 27px 10px 10px;
    }

    .grid-img2 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 256px;
    }

    .grid-title1 {
        font-weight: bold;
        font-size: 21px;
        color: var(--basic-white);
        margin-bottom: 25px;
    }

    .grid-title2 {
        font-weight: bold;
        font-size: 21px;
        color: var(--basic-black);
        margin-bottom: 28px;
    }

    .grid-house {
        background: url("../img/icons/house.svg") no-repeat 162px 60px;
    }

    .grid-food {
        background: url("../img/icons/food.svg") no-repeat 162px 60px;
    }

    .grid-souvenir {
        background: url("../img/icons/souvenir.svg") no-repeat 162px 60px;
    }

   .grid-numbers {
       display: block;
       margin-bottom: 23px;
   }

.search-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    margin-bottom: 33px;
    padding: 0 20px;
}

.search-info {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-greydark);
    text-align: center;
    margin: 0px;
    margin-bottom: 38px;
    padding: 0 20px;
}

.search-btn1 {
    background-color: var(--basic-brown);
    width: 568px;
    line-height: 86px;
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
    margin-left: calc(50% - 284px);
    cursor: pointer;
    z-index: 2;
}   

    .search-btn1:hover,
    .search-btn1:focus {
        background-color: var(--dark-brown);
        outline: none;
    }

    .search-btn1:active {
        background-color: var(--special-brown);
    }

    .search-btn1:active span {
        opacity: 0.3;
    }

.search {
    display: block;
    position: absolute;
    background-color: var(--basic-white);
    width: 568px;
    padding: 55px;
    box-shadow: 0px 7px 15px var(--search-shadow);
    left: calc(50% - 284px);
}

.search-bounce {
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.search-error {
    animation: shake 0.6s;
  }

.search-close {
    display: none;
}

.search label,
.search input {
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    /* text-align: center; */
}

    .search input:hover {
        background-color: var(--dark-grey);
    }

    .search input:focus,
    .search input:active {
        background-color: transparent;
        outline: none;
        border: 2px solid var(--basic-greylight);
        padding-left: 11px;
    }

.search div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search input {
    background-color: var(--special-grey);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.search-date {
    position: relative;
    padding-left: 13px;
    width: 346px;
}

.calendar {
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

    .calendar:focus {
        outline: none;
    }

    .calendar:hover path,
    .calendar:focus path {
            fill: var(--basic-black);
        }

    .calendar:active path {
        fill: var(--basic-blue);
    }

    .arrival-btn {
        top: 60px;
        right: 58px;
    }

    .departure-btn {
        top: 126px;
        right: 58px;
    }

.arrival-wrap {
    margin-bottom: 27px;
}

.departure-wrap {
    margin-bottom: 15px;
}

.person-wrap {
    margin-bottom: 41px;
}

.search-text {
    margin-right: 37px;
}

.search-person {
    width: 114px;
    text-align: center;
}

.minus-adult,
.plus-adult,
.minus-child,
.plus-child {
    position: absolute;
    border: none;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    height: 30px;
    width: 30px;
}

    .minus-adult:focus,
    .plus-adult:focus,
    .minus-child:focus,
    .plus-child:focus {
        outline: none;
    }

.minus-adult {
    left: 171px;
    top: 189px;
}

    .minus-adult:hover svg rect,
    .minus-adult:focus svg rect {
        fill: var(--basic-black);
    }

    .minus-adult:active svg rect {
        fill: var(--basic-blue);
    }

.plus-adult {
    left: 247px;
    top: 193px;
}

    .plus-adult:hover svg path,
    .plus-adult:focus svg path {
        fill: var(--basic-black);
    }

    .plus-adult:active svg path {
        fill: var(--basic-blue);
    }

.minus-child {
    right: 134px;
    top: 189px;
}

    .minus-child:hover svg rect,
    .minus-child:focus svg rect {
        fill: var(--basic-black);
    }

    .minus-child:active svg rect {
        fill: var(--basic-blue);
    }

.plus-child {
    right: 58px;
    top: 193px;
}

    .plus-child:hover svg path,
    .plus-child:focus svg path {
        fill: var(--basic-black);
    }

    .plus-child:active svg path {
        fill: var(--basic-blue);
    }

.search-btn2 {
    background-color: var(--basic-blue);
    width: 458px;
    line-height: 58px;
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.search-btn2:hover,
    .search-btn2:focus {
        background-color: var(--dark-blue);
        outline: none;

    }

    .search-btn2:active {
        background-color: var(--special-blue);
    }

    .search-btn2:active span {
        opacity: 0.3;
    }

.map iframe {
    background-image: url("../img/map.png");
    border: none;
}

/*Hotels*/

.filter {
    display: flex;
    background: url("../img/hotels/filter.jpg") no-repeat var(--basic-blue);
    background-size: cover;
    justify-content: space-between;
    padding: 27px 72px 6px 73px;
    color: var(--basic-white);
    box-shadow: 0px 4px 4px var(--grey-shadow);
    margin-bottom: 31px;
}

.filter-infrastructure {
    margin-right: -230px;
}

.filter ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.filter fieldset {
    border: none;
    padding: 0px;
    /* margin: 0px; */
}

.filter li {
    margin-bottom: 25px;
}
.filter-title {
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 16px;
}

.filter label {
    position: relative;
    padding-left: 40px;
}

.filter-checkbox + label::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 23px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/checkbox-off.svg") no-repeat;
    cursor: pointer;
}

.filter-checkbox:checked + label::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 23px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/checkbox-on.svg") no-repeat;
}

.filter-checkbox:disabled + label::before,
.filter-checkbox:disabled + label {
    opacity: 0.7;
    }

.filter-checkbox:focus + label::before,
.filter-checkbox:focus + label {
    opacity: 0.7;
    }

.filter-price {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 36px;
    width: 317px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    margin-bottom: 20px;
}

    .filter-price:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 22px;
        top: 4px;
        left: 160px;
        background: var(--basic-white);
    }

    .filter-price span {
        line-height: 29px;
        padding-left: 18px;
    }

.price-title {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 16px;
}

.price-control {
    position: relative;
}

    .line {
        width: 316px;
        height: 2px;
        background: var(--special-greydark);
        margin-bottom: 30px;
    }

    .bar {
        width: 80%;
        height: 2px;
        background: var(--basic-white);
    }

    .toggle {
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 0;
        border: 8px solid var(--basic-white);
        background-color: var(--toggle-color);
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 var(--toggle-shadow);
        cursor: pointer;
    }

    .toggle-min {
        bottom: -8px;
        left: 0px;
        }
        
    .toggle-max {
        bottom: -8px;
        right: 45px;
        }

    .toggle:hover,
    .toggle:focus {
        width: 25px;
        height: 25px;
        border: 10px solid var(--basic-white);
        bottom: -10px;
    }

    .toggle-min:hover {
        left: -2px;
    }

    .toggle-max:hover {
        right: 43px;
    }

.filter-btn {
    height: 36px;
    width: 137px;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    color: var(--basic-white);
    margin-left: 90px;
    cursor: pointer;
}

    .filter-btn:hover,
    .filter-btn:focus {
        background-color: var(--basic-white);
        color: var(--basic-black);
        outline: none;
    }

.sort {
    display: flex;
    padding: 0 73px;
    margin-bottom: 33px;
}

.sort-info {
    font-weight: bold;
    font-size: 21px;
    margin-right: 46px;
}

.sort-title {
    font-size: 12px;
    margin-right: 40px;
}

.sort-items1 {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 740px;
}

.sort-items2 {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.sort-text {
    font-size: 12px;
    opacity: 0.3;
    border-bottom: 1px dotted var(--basic-blue);
}

    .sort-text:hover,
    .sort-text:focus {
        color: var(--basic-blue);
        opacity: 1;
    }

    .sort-text:focus {
        color: var(--basic-black);
        border: none;
        opacity: 1;
    }

.sort-for-price {
    margin-right: 32px;
}

.sort-for-type {
    margin-right: 33px;
}

.sort-select {
    color: var(--basic-blue);
    border: none;
    opacity: 1;
}

.sort-for-ascending {
    margin-right: 12px;
    border: none;
}

.sort-for-descending {
    border: none;
}

    .sort-for-ascending:hover path,
    .sort-for-ascending:focus path
    {
        fill: var(--basic-black);
    }

    .sort-for-ascending:active path{
        fill: var(--basic-blue);
    }

    .sort-for-descending:hover path,
    .sort-for-descending:focus path
    {
        fill: var(--basic-black);
    }

    .sort-for-descending:active path{
        fill: var(--basic-blue);
    }

.sort-descending-select path {
    fill: var(--basic-blue);
}

.hotel-grid {
    display: grid;
    grid-template-columns: 164px 116px 142px 522px 117px;
    grid-template-rows: 35px 35px 30px;
    border-top: 2px solid var(--basic-greylight);
    padding: 23px 73px 27px;
}

.hotel-grid img {
    margin-top: 6px;
    height: 90px;
    width: 135px;
}

.hotel-title {
    grid-column-start: 2;
    grid-column-end: 5;
    margin: 0px;
    font-weight: bold;
    font-size: 21px;
}

    .hotel-title:hover,
    .hotel-title:focus {
        color: var(--basic-blue);
    }

    .hotel-title:active {
        color: var(--basic-black);
        opacity: 0.3;
    }

.two-stars {
    background: url("../img/icons/stars.svg") no-repeat;
    background-position: 70px center;
}

.three-stars {
    background: url("../img/icons/stars.svg") no-repeat;
    background-position: 45px center;
}

.four-stars {
    background: url("../img/icons/stars.svg") no-repeat;
    background-position: 20px center;
}

.hotel-grid:last-child {
    border-bottom: 2px solid var(--basic-greylight);
}

.star li {
    content: "";
    height: 17px;
    width: 19px;
    background: url("../img/icons/star.png") no-repeat;
    margin-right: 5px;
}

.hotel-info {
    grid-column-start: 2;
    color: var(--basic-greydark);
}

.hotel-price {
    color: var(--basic-greydark);
    grid-column-start: 3;
    grid-column-end: 5;
}

.hotel-btns {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
}

.hotel-btn1 {
    display: block;
    height: 27px;
    padding: 0 17px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    margin-right: 6px;
}

    .hotel-btn1:hover,
    .hotel-btn1:focus {
        background-color: var(--dark-blue);
    }

    .hotel-btn1:active {
        background-color: var(--dark-blue);
        color: var(--btn-grey);
    }

.hotel-btn2 {
    display: block;
    height: 27px;
    padding: 0 17px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    text-align: center;
    line-height: 27px;
    font-weight: bold;
}

    .hotel-btn2:hover,
    .hotel-btn2:focus {
        background-color: var(--dark-brown);
    }

    .hotel-btn2:active {
        background-color: var(--dark-brown);
        color: var(--btn-grey);
    }    

.hotel-rating {
    display: block;
    height: 27px;
    width: 110px;
    color: var(--rating-color);
    background-color: var(--basic-grey);
    text-align: center;
    line-height: 27px;
    grid-row-start: 3;
    grid-column-start: 5;
}

/*Footer*/

.transparent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: var(--transparent-footer);
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 19px 15px 19px 4px;
}

.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 36px;
    height: 60px;
    margin-bottom: 30px;
    margin-right: -110px;
    max-width: 350px;
}

    .footer-contacts span,
    .footer-contacts a {
        display: block;
        text-align: center;
    }

.social {
    display: flex;
    list-style: none;
    margin: 0px;
    margin-right: -62px;
    max-width: 350px;
}

    .social li {
        padding: 0px;
        padding-right: 6px;
    }

    .social svg:hover rect,
    .social svg:focus rect {
        fill: var(--dark-blue);
    }

    .social svg:active rect {
        fill: var(--special-blue);
    }

    .social svg:active path {
        fill: var(--basic-blue);
    }

.copywrite {
    display: flex;
    align-items: center;
    max-width: 350px;
}

    .copywrite span {
        margin-right: 8px;
    }

    .copywrite svg:hover path,
    .copywrite svg:focus path {
        fill: var(--basic-blue);
    }

    .copywrite svg:active path {
        fill: var(--copywrite-color);
    }

    
  /* Animations */

@-webkit-keyframes bounce {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(80px);
    }
  
    70% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

@keyframes bounce {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(80px);
    }
  
    70% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }